@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    
  }
}

html{
  scroll-behavior: smooth;
}

body {
  background: black;
  color: white;
  font-family:  sans-serif;
  
}


.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.265) !important;
  /* Change dot color */
  width: 12px !important;
  height: 12px !important;
  opacity: 1 !important;

  position: relative !important;
  top: 100px !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  /* Change active dot color */
}

.swiper-pagination {
  position: absolute !important;

  bottom: 230px !important;
  right: 0px !important;
}

@media (max-width: 1024px) {
  .swiper-pagination {
    bottom: 105px !important;

    display: none !important;
  }

}

/* Hide scrollbar for Chrome, Safari, Edge */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.shadow_hf {
  box-shadow: 0px 0px 0px 20px black;
}

.nowrap {
  text-wrap: nowrap !important;
  /* color: #181818; */
}


@font-face {
  font-family: 'GameOfThrones';
  src: url('/fonts/GameOfThrones.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.got-title {
  font-family: 'GameOfThrones', serif;
}
.glbo {
  left: 0.25rem;
  transform: scaleX(-1);
  position: relative; /* or absolute/fixed, depending on your layout */
}

.gri{
  background-color: #2d2d2d;
}

.griho:hover{
  background-color: #57534d;
}